[submodule "submodule/artificial-node-feature_generator"]
	path = submodule/artificial-node-feature_generator
	url = https://github.com/Hzw-ZuttoZutto/artificial-node-feature_generator.git
	branch = main
